@import "tailwindcss";


@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #1a1a1a; 
        --color-text: #fff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #fff; 
        --color-text: #1a1a1a;
    }
}

body {
    overflow: hidden;
    background-color: var(--color-background);
    color: var(--color-text)
}
